@{
    ViewData["Title"] = "Login";
    Layout = "AuthLayout";
}

<div class="login-wrapper">
    <div class="login-content">
        <div class="login-userset">
            <div class="login-userheading d-flex justify-content-center align-center flex-column">
                <h3>Sign In</h3>
                <h4>Please login to your account</h4>
            </div>
            <div class="form-login">
                <label>Email</label>
                <div class="form-addons">
                    <input type="text" id="email" placeholder="Enter your email address">
                    <img src="~/assets/img/icons/mail.svg" alt="img">
                </div>
            </div>
            <div class="form-login">
                <label>Password</label>
                <div class="pass-group">
                    <input  type="password" class="pass-input" id="password" placeholder="Enter your password">
                    <span class="fas toggle-password fa-eye-slash"></span>
                </div>
            </div>
            <div class="form-login">
                <div class="alreadyuser">
                    <h4><a href="forgetpassword.html" class="hover-a">Forgot Password?</a></h4>
                </div>
            </div>
            <div class="form-login">
                <button type="submit" id="signIn" onclick="Login()" class="btn btn-login">Sign In</button>
               @*  <a class="btn btn-login" href="index.html">Sign In</a> *@
            </div>
            <div class="signinform text-center">
                <h4>Don’t have an account? <a href="signup.html" class="hover-a">Sign Up</a></h4>
            </div>
        </div>
    </div>
    <div class="login-img">
        <img src="~/assets/img/login.jpg" alt="img">
    </div>
</div>

@section Scripts{
    <script src="~/js/Auth.js" asp-append-version="true"></script>
}